body{
background-color: lightgrey;}
hr{
  border-style: none;
border-top-style:dotted;
border-color: grey;
border-width:5px;
width:5%;
}
h1{
color:#66bfbf;
}
h3{
color:#184d47;
}
img
{
  background-color : red;
}
